<div class="voucher-detail">      
    {{#each voucher}}
    <img class="voucherdetail-top-image" src="{{ImageLink}}">    

    <h2 class="contentHeader-text">{{ContentHeader}}</h2>

    <h5 class="content-text">{{Contents}} </h5>

    <div class="card card-code" style="width: 500px;">
        <div class="card-body">
            <h4 class="voucher-note"> {{VoucherNote}} </h4>

            <div class="clipBoard">
                <!-- Target clipboard -->
                <input id="foo" type="text" value="{{Code}}" readonly />

                <!-- Trigger clipboard -->
                <button class="btn" data-clipboard-target="#foo">
                    Copy!
                </button>
            </div>

        </div>      
    </div>

    
    
    <button type="button" class="btn btn-primary btn-findvoucher">Tìm thêm Voucher mới</button>
{{/each}}
</div> 

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script>
    let clipboard = new ClipboardJS('.btn');
</script>
