<div class="voucher-detail">
    {{#if isAuthenticated}}
        {{#each voucher}}
            <img class="voucherdetail-top-image" src="{{ImageLink}}">    
            <h2 class="contentHeader-text">{{ContentHeader}}</h2>
            <h5 class="content-text">{{Contents}} </h5>
            <div class="card card-code" style="width: 500px;">
                <div class="card-body">                 
                        <h4 class="voucher-note"> {{VoucherNote}} </h4>
                        
                    <div class="clipBoard">
                            <input id="foo" type="text" value="{{Code}}" readonly />                                           
                        <button class="btn" data-clipboard-target="#foo">
                            Copy!
                        </button>
                    </div>
                </div>      
            </div>
                <form action="/user/buyvoucher" method="post">
                    <input type="hidden" name="_id" value="{{_id}}">
                    <input type="hidden" name="Code" value="{{Code}}">
                    <input type="hidden" name="Name" value="{{Name}}">
                    <input type="hidden" name="PointCost" value="{{PointCost}}">
                    <input type="hidden" name="CatalogID" value="{{CatalogID}}">
                    <input type="hidden" name="slug" value="{{slug}}">
                    <button class="btn btn-primary btn-findvoucher">Mua voucher này với giá {{PointCost}} điểm !</button>
                </form>       
        {{/each}}

    {{else}}

        {{#each voucher}}
            <img class="voucherdetail-top-image" src="{{ImageLink}}">    
            <h2 class="contentHeader-text">{{ContentHeader}}</h2>
            <h5 class="content-text">{{Contents}} </h5>
            <div class="card card-code" style="width: 500px;">
                <div class="card-body">     
                        <h4 class="voucher-note"> Bạn cần đăng nhập và mua voucher này ! </h4>
                    <div class="clipBoard">
                            <input id="foo" type="text" value="..." readonly />
                        <button class="btn" data-clipboard-target="#foo">
                            Copy!
                        </button>
                    </div>
                </div>      
            </div>
                <form action="/user/login" method="get">
                    <input class="btn btn-primary btn-findvoucher" name="buttoncancel" id="buttoncancel" type="button" onclick="window.location.replace('/user/login')" value="Đăng nhập để được mua voucher này !"/>
                </form>      
        {{/each}}
        <h1>{{thongbao}}</h1>
    {{/if}} 
</div>      
    

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script>
    let clipboard = new ClipboardJS('.btn');
</script>
