

    <div class="sidebar" style="padding-top: 150px; width: 10%;">
            <a href="/admin/vouchermanage">Quản lý Voucher</a>
            <a href="/admin/usermanage">Quản lý người dùng</a>
	</div>

    
	<div id="content" style="padding-top: 170px;">
        <h1 style="font-weight: bold; padding-left: 600px;">Quản lý voucher</h1>
        <div class="mt-4 mb-5">


            <form action="/vouchers/addvoucher" method="GET">
                <button class="btn btn-success">              
                    <span class="text-gradient"><i class="fa fa-plus-circle"></i> Thêm voucher</span>
                </button>
            </form>
            
           
            
            <table class="table table-striped table-bordered mydatatable">
            <thead>
                <tr>
                    <th>VoucherID</th>
                    <th>Loại</th>
                    <th>Tên</th>
                    <th>Giá mua</th>
                    <th>Tỉ lệ giảm (%)</th>
                    <th>PartnerID</th>
                    <th>Số lượng</th>
                    <th >Ngày tạo</th>
                    <th>Ngày hết hạn</th>
                    <th>Trạng thái</th>
                    <th>Bật/Tắt</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                {{#each vouchers}}
                    
                        <tr>    
                            <form action="/admin/vouchermanage/changestatus" method="POST"> 
                                <input type="hidden" name="_id" value="{{this._id}}">       
                                <input type="hidden" name="Code" value="{{this.Code}}">
                                <input type="hidden" name="Status" value="{{this.Status}}">
                                <td>{{this.VoucherID}}</td>
                                <td>{{this.CatalogID}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{this.PointCost}}</td>
                                <td>{{this.Discount}}</td>
                                <td>{{this.PartnerID}}</td>
                                <td>{{this.Quantity}}</td>
                                <td>{{this.CreateDate}}</td>
                                <td>{{this.ExpDate}}</td>
                                <td>{{this.Status}}</td>
                                <td>                        
                                    <button class="btn btn-success"><i class="fa fa-toggle-on"></i></button>                         
                                </td> 
                                </form>   
                            <form action="/vouchers/deletevoucher" method="POST">
                                <input type="hidden" name="_id" value="{{this._id}}">
                                <input type="hidden" name="Quantity" value="{{this.Quantity}}">
                                <input type="hidden" name="Status" value="{{this.Status}}">
                                <input type="hidden" name="ImageLink" value="{{this.ImageLink}}">
                                <td>
                                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </td>  
                            </form>   
                                                                           
                        </tr>
                    
               {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>VoucherID</th>
                    <th>Loại</th>
                    <th>Tên</th>
                    <th>Giá mua</th>
                    <th>Tỉ lệ giảm (%)</th>
                    <th>PartnerID</th>
                    <th>Số lượng</th>
                    <th>Ngày tạo</th>
                    <th>Ngày hết hạn</th>
                    <th>Trạng thái</th>
                    <th>Bât/Tắt</th>
                    <th>Xóa</th>
                </tr>
                
            </tfoot>
        </table>
        </div>
        
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

<script>
    $('.mydatatable').DataTable();
</script>