
<div class="first-comment mt-5">
    <h2>Cập nhật tất cả khuyến mãi hiện hành</h2>

    <h5>Bạn đang chuẩn bị cho kỳ nghỉ hay bận rộn với chuyến công tác sắp tới? Hãy tiết kiệm hơn với Traveloka! Xem ngay các khuyến mãi của chúng tôi ở dưới đây:</h5>
</div>

<div class="mt-4 mb-4">
    <div class="row">

        {{#each vouchers}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-voucher-item" style="width: 18rem;">
                <a href="/vouchers/{{this.slug}}">
                    <img class="card-img-top" src="{{this.imageLink}}" alt="{{this.name}}">
                </a>               
                <div class="card-body">
                    <a href="/vouchers/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>                  
                    <p class="card-text">{{this.preContent}}</p>
                    <a href="/vouchers/{{this.slug}}" class="btn btn-primary">Xem ngay!</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

