

    <div class="sidebar" style="padding-top: 150px; width: 20%;">
            <a href="/user/profile">Thông tin người dùng</a>
            <a href="/user/voucherwarehouse">Kho voucher</a>
	</div>

    
	<div id="content" style="padding-top: 170px; padding-bottom: 50px; padding-left: 200px;">
        <h1 style="font-weight: bold; padding-left: 300px; padding-bottom: 50px;">Thông tin đối tác</h1>
        <form action="/vouchers/addvoucherpartner" method="GET">
                <button class="btn btn-success">              
                    <span class="text-gradient"><i class="fa fa-plus-circle"></i>Thêm voucher</span>
                </button>
        </form>
        {{#each user}}
                <form action="/user/profileupdate" method="post" class="form-control" style="padding-bottom: 550px; width: 1000px;">
                    <input type="hidden" name="TaiKhoan" value="{{TaiKhoan}}" >
                    <div class="col-md-6">
                    <div class="form-group">
                        <label>Họ</label>
                        <input type="text" name="Ho" class="form-control" value="{{fristName}}">
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" name="Ten" class="form-control" value="{{this.lastName}}">
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                        <input type="tel" class="form-control" id="SoDienThoai" name="SoDienThoai" placeholder="Số điện thoại..." autocomplete="off" minlength="10" maxlength="10" value="{{this.phone}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Điểm hiện tại</label>
                            <input type="number" name="DiemHienTai" class="form-control" value="{{this.value_TotalPoint}}" readonly>
                        </div>
                    </div>

                    {{!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>Điểm hiện tại</label>
                            <input type="number" name="DiemHienTai" class="form-control" value="{{Point}}" readonly>
                        </div>
                    </div> --}}
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <textarea class="form-control" name="DiaChi" rows="4">{{this.userAddress}}</textarea>
                        </div>
                    </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">Update</button>
                    <input class="btn btn-basic" name="buttoncancel" id="buttoncancel" type="button" onclick="window.location.replace('/user/profile')" value="Cancel" />
                </div>  
                </form>
                
                
        {{/each}}
    </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>