

    <div class="sidebar" style="padding-top: 150px; width: 23%;">
            <a href="/user/profile">Thông tin người dùng</a>
            <a href="/user/voucherwarehouse">Kho voucher</a>
	</div>

    
	<div id="content" style="padding-left: 100px; padding-top: 170px; padding-bottom: 50px; width: 1000px">
        <h1 style="font-weight: bold; padding-left: 370px; padding-bottom: 50px;">Kho voucher của bạn</h1>
        {{#each vouchers}}
        <div class="mb-3">
            <div class="w3-card-4">

                <header class="w3-container w3-light-grey" style="text-align: center;">
                    <img src="{{ImageLink}}" alt="Avatar" style="margin-right: 30px;" height="200px" width="1000px">
                    <h3>{{TenVoucher}}</h3>
                    
                </header>

                <div class="w3-container">
                    <hr>
                    <h6>Mã ưu đãi:</h6>
                    <h5>{{Code}}</h5>
                    <h6>Ngày hết hạn:</h6>
                    <h5>{{ExpDate}}</h5>
                    <p></p>
                </div>
                <form action="/vouchers/{{voucherslug}}" method="get">
                    <button class="w3-button w3-block btn-primary">Chi tiết</button>
                </form>


            </div>
        </div>          
        {{/each}}
    </div>